/*#numeros { id dels estils dels números resultants 
    display: inline-block;
    color: tomato;
    padding: 15px;
    margin: 5px;
    border: ridge darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-kerning: normal;
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
}*/
.fons { /*visualització del fons*/
    background-color: lightgoldenrodyellow;
}
.titol{ /* característiques del títol de la pàgina*/
    font-size: 25px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    padding: 7px;
    margin: 15px;
    text-align: center;
}
.subtitol { /* característiques del títol de la pàgina*/
    color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 7px;
    margin: 15px;
}
.boto {  /* característiques del botó que reinicialitza la funció-pàgina*/
	text-decoration: underline;
	background-color: darkblue; 
	font-size: 15px;
	color: white;
	font-family: "Times New Roman", "Times", Serif;
	-webkit-appearance: button;
    display: block;
    padding: 7px;
    margin: 15px;    
}
.table{
text-align: center;
color: tomato;
display: contents;
margin: auto;
border: ridge darkblue;
font-family: 'Times New Roman', Times, serif;
font-kerning: normal;
font-weight: bold;
font-size: 20px;
padding: 7px;
width: 50%;
}